:root {
  --deep-blue: #2f3e97;
  --nice-beige: #ebdec1;
  --accent-green: #0d6c37;
  --accent-red: #ed2224;
  --accent-brown: #d2935b;
  --bg-color-dark: var(--deep-blue);
  --bg-color-light: var(--nice-beige);
  --primary-light: var(--deep-blue);
  --primary-dark: var(--nice-beige);
  --text-color-dark: var(--nice-beige);
  --text-color-light: var(--deep-blue);

  --fluid-36-64: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  --fluid-16-32: clamp(1rem, 0.6522rem + 1.7391vw, 2.125rem);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

html.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
path {
  stroke: var(--bg-color-dark);
}

.dark svg,
.dark path {
  stroke: var(--bg-color-light);
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  background-color: inherit;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: "Epilogue Variable", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: var(--fluid-36-64);
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 900;
  line-height: 65px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-size: var(--fluid-16-32);
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 400;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dark a {
  color: var(--text-color-dark);
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem;
  flex: 1;
}

.main-slot {
  padding: 5.5em 0em;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}
