:root {
  --deep-blue: hsla(231, 53%, 39%, 1);
  --deep-blue-lighter: hsla(231, 53%, 50%, 1);
  --nice-beige: hsla(41, 51%, 84%, 1);
  --nice-beige-lighter: hsla(41, 51%, 90%, 1);
  --accent-green: #0d6c37;
  --accent-red: #ed2224;
  --accent-brown: #d2935b;
  --bg-color-dark: var(--deep-blue);
  --bg-color-light: var(--nice-beige);
  --primary-light: var(--deep-blue);
  --primary-dark: var(--nice-beige);
  --text-color-dark: var(--nice-beige);
  --text-color-light: var(--deep-blue);

  --sans-serif-font: "Epilogue Variable", sans-serif;
  --mono-font: "Fragment Mono", monospace;

  --rounded-sm: 0.175rem;
  --site-padding: clamp(1rem, 2.5vw, 2rem);

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --fluid-36-64: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  --fluid-16-32: clamp(1rem, 0.6522rem + 1.7391vw, 2.125rem);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

html.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
path {
  stroke: var(--bg-color-dark);
}

.dark svg,
.dark path {
  stroke: var(--bg-color-light);
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: inherit;
  color: inherit;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  font-family: var(--sans-serif-font);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: var(--step-5);
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 900;
  line-height: clamp(2.4883rem, 1.7069rem + 3.907vw, 4.7348rem);
}

h2 {
  font-size: var(--step-4);
  font-weight: 900;
}

h3 {
  font-size: var(--step-3);
}

p {
  font-family: "Epilogue Variable", sans-serif;
  font-size: var(--step-0);
  font-weight: 400;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dark a {
  color: var(--text-color-dark);
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-slot {
  padding: var(--site-padding);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}


}
