:root {
  --deep-green: #173336;
  --light-green: #d1f8e5;
  --lightest-green: #f6fefa;
  --light-blue: #b7e7f2;
  --dark-blue: #0c3944;
  --accent-blue: #1f94b0;
  --accent-color: #666666;
  --bg-color-dark: var(--dark-blue);
  --bg-color-light: var(--light-blue);
  --text-color-dark: var(--light-blue);
  --text-color-light: var(--dark-blue);

  --fluid-36-64: clamp(2.25rem, 1.75rem + 2.5vw, 4rem);
  --fluid-16-32: clamp(1rem, 0.6522rem + 1.7391vw, 2.125rem);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fluid-36-64);
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 900;
  line-height: 65px;
}

p {
  font-size: var(--fluid-16-32);
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 400;
}

a {
  color: var(--text-color-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}
