---
import Layout from "@layouts/Layout.astro";
import "@fontsource-variable/epilogue";
import "@fontsource/fragment-mono";

const posts = await Astro.glob("./posts/*.md");
---

<Layout title="Reid Fuhrman">
  <section class="about-me">
    <ul>
      {
        posts.map((post) => {
          const { frontmatter } = post;
          console.log(frontmatter, post.url);
          return (
            <li>
              <a href={post.url}}>{frontmatter.title}</a>
            </li>
          );
        })
      }
    </ul>

    <style>
      .about-me {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding-bottom: 10em;
      }
      .about-text {
        display: flex;
        flex-direction: column;
        max-width: clamp(350px, 100vw, 725px);
        gap: 2em;
      }
      .about-text p {
        font-size: var(--step-0);
      }
      .image-collage {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        scrollbar-width: none;
      }

      img {
        margin: clamp(0.25rem, 2vw, 3rem);
      }

      .image-collage img {
        border: 4px solid var(--deep-blue);
        max-width: min-content;
        max-height: 400px;
      }

      :global(.dark) .image-collage img {
        border: 4px solid var(--nice-beige);
      }

      .image-collage img:nth-child(1) {
        transform: rotateZ(-5deg);
        z-index: 10;
      }

      .hobbies {
        gap: 2em;
      }

      .hobbies img:nth-child(1) {
        top: 0;
        right: 50px;
        transform: rotateZ(5deg);
        max-width: min-content;
        max-height: 275px;
      }

      .hobbies img:nth-child(2) {
        max-width: min-content;
        max-height: 325px;
        transform: rotateZ(10deg);
      }

      @media (min-width: 1024px) {
        .about-me {
          flex-direction: row;
        }
      }

      @media (min-width: 768px) {
        .about-text p {
          font-size: var(--step-1);
        }

        .image-collage {
          flex-direction: row;
        }
      }
    </style>
  </section></Layout
>
