---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/epilogue";
import "@fontsource/fragment-mono";

const posts = await Astro.glob("./posts/*.md");
const projects = await Astro.glob("./projects/*.md");
---

<Layout title="Reid Fuhrman">
  <section class="hero">
    <h1>Reid Fuhrman is a Front End Engineer</h1>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud.
    </p>
    <a href="/projects" class="hero-cta"> See my projects -> </a>
  </section>
</Layout>

<style>
  section {
    border-radius: 8px;
  }

  .post-item,
  .project-item,
  .experience-item {
    margin: 1.5rem 0;
  }

  .post-title,
  .project-title {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
  }

  .post-date,
  .project-date {
    font-size: 0.8rem;
    color: #666;
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .date {
    color: #666;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .icon {
    font-size: 1.2rem;
  }

  .hero {
    max-width: 750px;
    padding: 5.5em 0em;
    position: relative;
  }

  .hero > h1 {
  }

  .hero-text {
    padding: 1em 0em 2em 0em;
  }

  .hero-cta {
    font-family: "Epilogue Variable", sans-serif;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: var(--fluid-16-32);
  }

  .hero-cta:hover {
    cursor: pointer;
  }
</style>
