---
import Layout from "../layouts/Layout.astro";

import ArrowRightIcon from "@assets/svg/arrow-right.svg";
---

<Layout title="Reid Fuhrman">
  <section class="hero">
    <h1>Reid Fuhrman is a <br /> Front End Engineer</h1>
    <p class="hero-text">
      I build websites and web apps for businesses that are beautiful,
      user-friendly, and functional. More recently, I've also been using React
      Native to build mobile apps that focus on interacting with Bluetooth
      wearable devices.
    </p>
    <a href="/projects/" class="hero-cta">
      See some of my work <ArrowRightIcon role="img" /></a
    >
  </section>

  <style>
    section {
      border-radius: 8px;
    }

    h2 {
      font-size: 1.5rem;
      margin: 2rem 0 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .icon {
      font-size: 1.2rem;
    }

    .hero {
      max-width: 850px;
      position: relative;
    }

    .hero > h1 {
      font-size: var(--step-3);
    }

    .hero-text {
      padding: 1em 0em 2em 0em;
      font-size: var(--step-0);
    }

    .hero-cta {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: transparent;
      border: none;
      font-size: var(--step-1);
    }

    .hero-cta:hover {
      cursor: pointer;
    }

    .hero svg,
    .hero path {
      stroke: var(--bg-color-dark);
    }

    .dark .hero svg,
    .dark .hero path {
      stroke: var(--bg-color-light);
    }

    @media (width >= 32rem) {
      .hero > h1 {
        font-size: var(--fluid-36-64);
      }

      .hero-text {
        padding: 1em 0em 2em 0em;
        font-size: var(--step-2);
      }

      .hero-cta {
        font-size: var(--step-2);
      }
    }
  </style>
</Layout>
