---
import Layout from "@layouts/Layout.astro";

import { Image } from "astro:assets";

import { sounds } from "../data/site.json";
---

<Layout title="Reid Fuhrman">
  <section class="sound-archive">
    <h2>sounds archive</h2>
    <div class="archive">
      {
        sounds.map((sound) => {
          return (
            <button id={sound.name}>
              <Image
                width={300}
                height={300}
                src={sound.image}
                alt="a pier with rough water"
              />
            </button>
          );
        })
      }
    </div>
    <a href="/fun/">exit the archive</a>
  </section>
  <script>
    import { sounds } from "../data/site.json";

    sounds.forEach((sound) => {
      const button = document.querySelector(`#${sound.name}`);
      const audio = new Audio(sound.audio);
      if (!button) {
        return;
      }

      button.addEventListener("click", () => {
        if (!audio.paused) {
          button.classList.remove("playing");
          audio.pause();
          return;
        }
        button.classList.add("playing");
        audio.play();
      });
    });
  </script>
</Layout>

<style>
  section {
    padding: var(--site-padding);
    background-color: black;
    color: white;
    height: 100vh;
  }

  .sound-archive h2 {
    font-family: var(--mono-font);
    text-transform: uppercase;
    padding-bottom: 1em;
  }

  .archive {
    display: flex;
    gap: 2em;
  }

  .sound-archive button {
    background-color: transparent;
    padding: 0;
    border: 4px solid black;
    transition: transform 0.25s;
  }

  .playing {
    transform: scale(1.05);
  }

  .sound-archive img {
    height: 350px;
    max-width: 325px;
    background-color: white;
  }

  a {
    color: white;
    position: absolute;
    bottom: 1em;
    right: 1em;
    transition: transform 0.25s;
  }

  a:hover {
    transform: skew(25deg);
  }
</style>
