---
import Layout from "@layouts/Layout.astro";

import { Image } from "astro:assets";

import pierImage from "@assets/images/stpeters.png";
import sounds from "../data/site.json";
---

<Layout title="Reid Fuhrman">
  <section class="sound-archive">
    <h2>sounds archive</h2>
    <div class="archive">
      <button>
        <Image width={300} src={pierImage} alt="a pier with rough water" />
      </button>
    </div>
  </section>
  <script>
    // Find all buttons with the `alert` class on the page.
    import sound from "@assets/audio/stpeters.mp3";

    const pier = new Audio(sound);

    const buttons = document.querySelectorAll("button");

    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        if (!pier.paused) {
          pier.pause();
          return;
        }
        pier.play();
      });
    });
  </script>
</Layout>

<style>
  section {
    padding: var(--site-padding);
  }

  .sound-archive button {
    background-color: transparent;
    padding: 0;
  }
</style>
