---
import Layout from "@layouts/Layout.astro";

import { Image } from "astro:assets";

import { sounds } from "../data/site.json";
---

<Layout title="Reid Fuhrman">
  <section class="sound-archive">
    <h2>sounds archive</h2>
    <div class="archive">
      {
        sounds.map((sound) => {
          return (
            <button id={sound.name}>
              <Image
                width={300}
                height={300}
                src={sound.image}
                alt="a pier with rough water"
              />
            </button>
          );
        })
      }
    </div>
  </section>
  <script>
    import { sounds } from "../data/site.json";

    sounds.forEach((sound) => {
      const button = document.querySelector(`#${sound.name}`);
      const audio = new Audio(sound.audio);
      if (!button) {
        return;
      }

      button.addEventListener("click", () => {
        console.log("here", sound.name);
        if (!audio.paused) {
          audio.pause();
          return;
        }
        audio.play();
      });
    });
  </script>
</Layout>

<style>
  section {
    padding: var(--site-padding);
  }
  .archive {
    display: flex;
    gap: 1em;
  }

  .sound-archive button {
    background-color: transparent;
    padding: 0;
  }

  .sound-archive img {
    height: 275px;
    width: 275px;
    background-color: black;
  }
</style>
