---
import Layout from "./Layout.astro";
import "@styles/global.css";

const { frontmatter } = Astro.props;
const date = new Date(frontmatter.date);
---

<Layout title={frontmatter.title}>
  <div class="post-container">
    <article class="post">
      <h1>{frontmatter.title}</h1>
      <p>Posted on - {date.toLocaleDateString()}</p>
      <div class="content">
        <slot />
      </div>
    </article>
  </div>
</Layout>

<style is:global>
  .post-container {
    display: flex;
    justify-content: center;
  }
  .post {
    width: 100%;
    max-width: 768px;
    margin: 4rem 0 15rem 0;
  }

  .post h1 {
    font-size: var(--step-5);
    margin-bottom: 0.5rem;
    font-weight: 800;
  }

  .content {
    margin-top: 2rem;
  }

  .content h2 {
    font-family: var(--sans-serif-font);
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    font-size: var(--step-3);
    font-weight: bold;
  }

  .content :global(p) {
    margin: 1rem 0;
  }

  .content :global(pre) {
    background: #111;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
  }

  .content figure {
    margin: 2em 0 !important;
  }
</style>
