---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";

import { Font } from "astro:assets";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" /><meta
      name="image"
      property="og:image"
      content="/preview-img.png"
    />
    <meta
      name="description"
      property="og:description"
      content="I build websites and web apps for businesses that are beautiful, user-friendly, and functional."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <Font cssVariable="--font-epilogue" preload />
    <Font cssVariable="--mono-font" preload />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="container" role="main">
      <Navbar />
      <div class="main-slot">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
